NEXTAUTH_URL="https://2startup.cloud/timesheet/api/auth"
NEXTAUTH_SECRET="<CHANGE_ME>"
AUTH_SECRET="<CHANGE_ME>"
DATABASE_URL="file:/var/lib/2startup/timesheet/timesheet.db"
PROFILE_IMAGE_DIR="/var/lib/2startup/timesheet/profile-images"
